# See http://help.github.com/ignore-files/ for more about ignoring files.

# COMPILED OUTPUT
/dist
/tmp
/11_env

# DEPENDENCIES
/node_modules
/bower_components
yarn.lock

# IDEs and EDITORS
/.idea
/.vscode
.project
.classpath
*.launch
.settings/

# MISC.
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e TESTING
/e2e/*.js
/e2e/*.map

# SYSTEM FILES
.DS_Store
Thumbs.db

